/**
 * Vanilla Fix for SharePoint
 * Stylesheet Release 190612
 * Documentation: http://vanillafix.com
 * Repository: https://github.com/kimmaker/vanillafix
 */



/* --------------------------------------------------------------------- */
/* [SHAREPOINT STYLES, OVERRIDDEN AS REQUIRED] */
#onetIDListForm { display: none; }
#ribbonBox { display: none; }
hr {
  color: #EEEEEE;
  background-color: #EEEEEE;
  border-color: #EEEEEE;
}
table .ms-formtoolbar {
  min-width: 516px;
}
.ms-imnSpan .ms-spimn-presenceLink {
  display: none; /* Hide user presence indicators. */
}



/* --------------------------------------------------------------------- */
/* [RE-USABLE STYLES] */
.editMode { display: none; }
.bold { font-weight: bold; }
.red { color: #FF0000; }
.darkRed { color: #CC3300; }
.black { color: #000000; }
.lightGrey { color: #AAAAAA; }



/* --------------------------------------------------------------------- */
/* [DEFAULT STYLES FOR FORMS USING A CUSTOM LAYOUT] */
.formWrapper {
  display: none;
  clear: both;
  margin: 0px 0px 4px 4px;
}
.formDivRow {
  clear: both;
  margin: 32px 16px 0px 0px;
}
.formDiv1Col {
  margin: 0px 32px 32px 0px;
}
.formDiv2Col {
  float: left;
  margin: 0px 16px 32px 0px;
  padding-right: 16px;
  width: 44%;
}
.formDiv3Col {
  float: left;
  margin: 0px 16px 32px 0px;
  padding-right: 16px;
  width: 29%;
}
.borderTop {
  border-top: 1px solid #CCCCCC;
  padding-top: 32px;
}
.borderRight {
  border-right: 1px solid #CCCCCC;
}
.customFormLabel {
  width: 113px;
  vertical-align: top;
}
.customFormBody {
  max-width: 516px;
  vertical-align: top;
}
.customFormBody input,
.customFormBody textarea {
  font-weight: inherit;
}
.customFormBody select {
  font-weight: inherit;
}
.customFormTable {
  margin-top: 8px;
}
.customFormTableTabs {
  margin-bottom: 16px;
}
.customFormTab,
.customFormTabSelected {
  padding: 8px 16px 8px 16px;
  text-align: center;
}
.customFormTab {
  background-color: #E1E1E1;
  font-weight: bold;
  border-bottom: 1px solid #000000;
}
.customFormTab:hover {
  background-color: #999999;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}
.customFormTabSelected:hover {
  background-color: inherit;
  color: inherit;
  font-weight: bold;
  cursor: inherit;
}
.customFormTabSelected {
  background-color: #FFFFFF;
  font-weight: bold;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: none;
  border-left: 1px solid #000000;
}
.customFormTabDivider {
  width: 8px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #000000;
}
.customFieldButton {
  font-weight: inherit;
}
.customInnerTable {
  padding: 16px;
}
.customInnerTableKeyColumn {
  vertical-align: top;
  padding: 0px 8px 8px 0px;
}
.customInnerTableValueColumn {
  vertical-align: top;
  padding: 0px 8px 8px 8px;
}
.customLayoutSectionTitle {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
}
.customLayoutSectionSubTitle {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  text-transform: none;
  font-weight: normal;
}


